.pagination {
    margin-bottom: 10px;
}

.paginator {
    margin: 10px;
}

.pageNumber {
    padding: 10px 12px 10px 12px;
    color: #ffffff;
    font-weight: bold;
}

.pageNumber:hover {
    background-color: black;
    border-radius: 50%;
    color: #db8e00;
    font-weight: bold;
}

.pageNumber.selectedPage {
    font-weight: bold;
}

.buttonPagin {
    background-color: #000000;
    color: #ffffff;
    padding: 5px 10px;
    border-radius: 20px;
    text-transform: uppercase;
    border: 1px solid #000000;
}

.buttonPagin:hover {
    background-color: #db8e00;
    border: 1px solid #ffffff;
}