.pagination {
    margin-bottom: 10px;
}

@media(max-width: 986px) {
    .pagination {
        display: flex;
        flex-wrap: wrap;
    }
}

.paginator {
    margin: 10px;
}

.pageNumber {
    padding: 10px 12px 10px 12px;
    color: #ffffff;
    font-weight: bold;
}

.pageNumber:hover {
    background-color: #87a5d4;
    border-radius: 5px;
    color: #fff;
    font-weight: bold;
}

.pageNumber.selectedPage {
    font-weight: bold;
    color: #000;
}

.buttonPagin {
    padding: 5px 15px;
    background-color: #87a5d4;
    border-radius: 5px;
    border: none;
    color: #fff;
    margin: 5px;
}

.buttonPagin:hover {
    background-color: #4D6281;
}