.UsersComponent {
  margin: 20px 0 20px 20px;

  .user {
    margin-bottom: 10px;

    .buttonFollowUnfollow button {
      padding: 5px 15px;
      background-color: #87a5d4;
      border-radius: 5px;
      border: none;
      color: #fff;
      margin: 5px 0;
    }

    .buttonFollowUnfollow button:hover {
      background-color: #4d6281;
    }
  }
  .userPhoto {
    width: 100px;
    height: 100px;
    border-radius: 50%;
  }
}
