.formControl.error textarea,
.formControl.error input {
    border: 1px solid red;
}

.formControl input {
    padding: 5px;
    margin: 0 0 5px 0;
    border-radius: 5px;
    border: 1px solid #658576;
}

.formControl span {
    color: red;
}

.formSummaryError {
    border: 1px solid red;
    padding: 5px;
    color: red;
}

.form {
    margin: 0 0 0 25px;
}

.form > h1 {
    color: #fff;
}