.form_main_login {
  display: flex;
  flex-direction: column;
  width: 235px;
  margin: 10px 0;
}

.container_for_buttons {
  display: flex;
}

.checkbox_span {
  /* remember me */
  margin: 0 0 0 5px;
}

.button_sign_up {
  padding: 5px 15px;
  background-color: #fa002d;
  border-radius: 5px;
  border: none;
  color: #000;
  text-decoration: none;
}

.button_sign_up:hover {
  background-color: #fff;
  color: #000;
}

.button_login {
  /*сама кнопка login*/
  padding: 5px 15px;
  background-color: #87a5d4;
  border-radius: 5px;
  border: none;
  color: #fff;
  margin: 0 0 0 50px;
}

.button_login:hover {
  background-color: #4d6281;
}

.formControl.error textarea,
.formControl.error input {
  border: 1px solid red;
}

.formControl input {
  padding: 5px;
  margin: 0 0 5px 0;
  border-radius: 5px;
  border: 1px solid #658576;
  width: 220px;
}

.formControl input[type="checkbox"] {
  width: 13px;
}

.formControl span {
  color: red;
}

.formSummaryError {
  border: 1px solid red;
  padding: 5px;
  color: red;
}

.form {
  padding: 15px 25px 25px 25px;
}

.form > h1 {
  color: #fff;
}
