@import "../../../../src/sass/variables.scss";

.component {
  background-color: $major_background;
  color: $black;
  border-radius: 5px;

  .reactPlayerHeader {
    font-weight: 500;
    font-size: 32px;
    padding: 15px 0 15px 15px;
  }

  .reactPlayerWrapper {
    padding: 30px 150px;
  }

  @keyframes rotating {
    from {
      transform: rotate(0deg);
    }
    to {
      transform: rotate(360deg);
    }
  }

  .gear {
    animation: rotating 2s linear infinite;
    margin: 10px 0 0 40%;
  }
}

.padding {
  padding: 2.5rem 5px 5px 2rem;
}
