.MyPosts {
    margin: 10px 0 0 10px;
}

.post {
    margin: 20px 0;
}

.fieldPosts {
    display: flex;
}
.nativeField {
    border-radius: 5px;
    width: 450px;
}

.nativeFieldProfile {
    width: 270px;
}

.clearlyButton {
    padding: 0 15px;
    margin: 0 0 0 5px;
    background-color: #87a5d4;
    border-radius: 5px;
    border: none;
    color: #fff;
}

.clearlyButton:hover {
    background-color: #4D6281;
}

@media(max-width: 880px) {
    .MyPosts {
        display: flex;
        flex-direction: column;
        align-items: center;
    }
    .nativeField {
        border-radius: 5px;
        width: 150px;
    }
    .nativeFieldProfile {
        width: 200px;
    }
}

@media(max-width: 530px) {
    .nativeFieldProfile {
        width: 150px;
    }
}



/*------------------------------------------------*/


