.header {
    margin: 0;
    padding: 0;
    background-color: gray;
}

.firstSrc {
    margin: 0;
    padding: 0 0 0 260px;
    height: 60px;
}

.loginBlock {
    float: right;
    padding: 10px 20px 10px 0;
}

.loginBlock a {
    color: white;
}