@import "../../../src/sass/variables.scss";

.header {
  display: flex;
  justify-content: space-between;

  min-height: 60px;
  margin: 0;
  padding: 0;
  background-color: $major_background;

  .wrapper_logo {
    display: flex;
    align-items: center;

    .logo {
      margin: 0;
      padding: 0 5px 0 220px;
      height: 60px;
    }

    @media (max-width: 1200px) {
      .logo {
        padding: 0 0 0 150px;
      }
    }

    @media (max-width: 900px) {
      .logo {
        padding: 0 0 0 90px;
      }
    }

    @media (max-width: 600px) {
      .logo {
        padding: 0 0 0 25px;
      }
    }

    .title {
      font-size: 32px;
      line-height: 28px;
      font-weight: 700;
    }
  }

  .loginBlock {
    float: right;
    padding: 15px 20px 10px 0;

    .loginName {
      display: flex;
      align-items: center;

      color: $black;
      font-weight: 700;

      .login {
        margin: 0 10px 0 0;
      }
    }
  }
}

.mainContent {
  display: flex;
  justify-content: center;
  margin: 2% 15%;
  height: 100vh;
}
