.header {
    margin: 0;
    padding: 0;
    background-color: gray;
}

.firstSrc {
    margin: 0;
    padding: 0 0 0 240px;
    height: 60px;
}

.loginBlock {
    float: right;
    padding: 10px 20px 10px 0;
}

.loginBlock a {
    color: white;
}

.loginName {
    color: #fff;
}

.logoutButton { /*сама кнопка login*/
    padding: 5px 15px;
    background-color: #87a5d4;
    border-radius: 5px;
    border: none;
    color: #fff;
    margin: 0 0 0 5px;
}

.logoutButton:hover {
    background-color: #4D6281;
}
