.nav {
  margin: 0;
  width: 150px;
  display: inline-block;
  vertical-align: top;
  color: #ffa500;
}

.item {
  padding: 10px 0;
  border-radius: 10px;
}

.item:hover {
  background-color: #db8e00;
}

.item a {
  display: flex;
  color: #ffffff;
  text-decoration: none;
  justify-content: center;
}

.item a.active {
  color: #66FF00;
}
