.nav {
  width: 150px;
  vertical-align: top;
  color: #ffa500;
  gria-area: n;
}

.item {
  padding: 10px 0;
  border-radius: 10px;
}

.item:hover {
  background-color: #516681;
}

.item a {
  display: flex;
  color: #ffffff;
  text-decoration: none;
  justify-content: center;
}

.item a.active {
  color: gold;
}

