.footer {
  margin: 0;
  padding: 0;
  background-color: gray;
}

.developer {
  display: inline-block;
  width: 250px;
  margin: 0;
  padding: 20px 0;
  margin-left: 1300px;
  background-color: gray;
  color: #ffffff;
}