@import "../../../../src/sass/variables.scss";

.profile {
  display: grid;
  grid-template-areas:
    "a s"
    "a c"
    "e c";
  grid-template-columns: 2fr 2fr;
  grid-template-rows: 1fr 2fr;
  min-width: 97%;
  color: $black;
  background-color: $major_background;
  border-radius: 10px;
  padding: 10px;
  transition: 0.5s ease-out;

  .avatar {
    margin: 0 15px 0 0;
    padding: 0;
    grid-area: a;

    img {
      margin: 5% 5% 0 5%;
      padding: 0;
      width: 230px;
      border-radius: 50%;
    }
  }

  .uploadBtn {
    margin: 0 0 0 19%;

    @media (max-width: 1400px) {
      margin: 0 0 0 21%;
    }
    @media (max-width: 992px) {
      margin: 0 0 0 31%;
    }
  }

  .status {
    grid-area: s;
    margin: 20px 0 20px 0;
  }
}

@media (max-width: 992px) {
  .profile {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
}

.description {
  display: inline-block;
  margin: 10px 10px 10px 50px;
  vertical-align: top;
}

.descriptionItem {
  margin-bottom: 15px;
}

.contactBio {
  margin: 0 0 0 5px;
}
