@import '../../../../../src/sass/variables.scss';

.MyPosts {
  margin: 15px 0 0 0;
  padding: 10px;
  height: 45%;
  color: $black;
  background-color: $major_background;
  border-radius: 5px;

  .post {
    margin: 20px 0;

    .fieldPosts {
      display: flex;

      .nativeFieldProfile {
        border: 1px solid transparent;
        -webkit-appearance: none;
        -ms-appearance: none;
        -moz-appearance: none;
        appearance: none;
        padding: 12px;
        margin: 0 5px 0 0;
        border-radius: 5px;
        width: 270px;
        font-size: 16px;
        margin: 0 5px 0 0;
      }

      .nativeFieldProfile:active,
      .nativeFieldProfile:focus {
        transition: 0.2s;
        outline: none;
        border: 1px solid $gray;
      }
    }
  }
}

.nativeField {
  // поле для textarea в сообщениях
  border-radius: 5px;
  width: 450px;
}

.clearlyButton:hover {
  background-color: #4d6281;
}

@media (max-width: 880px) {
  .MyPosts {
    display: flex;
    flex-direction: column;
    align-items: center;
    height: auto;
  }
  .nativeField {
    border-radius: 5px;
    width: 150px;
  }
  .nativeFieldProfile {
    width: 200px;
  }
}

@media (max-width: 530px) {
  .nativeFieldProfile {
    width: 150px;
  }
}

/*------------------------------------------------*/
