.app-wrapper {
  display: table;
  width: 1000px;
  margin: 0;
  padding: 0;
  background-color: black;
}

.app-wrapper-content {
  display: grid;
  grid-template-columns: 2fr 10fr;
  grid-template-rows: 1fr;
  grid-template-areas:
  "n p";
  grid-gap: 10px;
  width: 1000px;
  margin: 75px auto;
}

.forBackColor {
  background-color: #db8e00;
  margin: 10px 0px 10px -10px;
  border-radius: 10px;
}

