.app-wrapper {
  min-width: 100%;
  display: flex;
  flex-direction: column;
}

.app-content {
  background-color: #87a5d4;
  min-height: 85vh;
}

.app-wrapper-content {
  display: grid;
  grid-template-columns: 2fr 10fr;
  grid-template-rows: 1fr;
  grid-template-areas:
  "n p";
  width: 75%;
  margin: 30px auto;
}

.main_content {
  background-color: #db8e00;
  border-radius: 10px;
  grid-area: p;
  margin: 0 0 0 -20px;
}

@media (max-width: 900px) {
  .app-wrapper-content {
    margin: 15px 0 15px 70px;
  }
  .main_content {
    width: auto;
  }
}

@media (max-width: 600px) {
  .app-wrapper-content {
    margin: 15px 0 15px 15px;
  }
  .main_content {
    width: 350px;
    margin: 0 0 0 5px;
  }
}

@media (max-width: 530px) {
  .app-wrapper-content {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 10px auto;
  }
  .main_content {
    width: 260px;
    padding: 0 10px;
  }
}




