.item .imgMini {
    display: inline-block;
}

.item .imgMini img {
    border-radius: 5px;
    width: 40px;
}

.item .post {
    display: inline-block;
    margin-left: 5px;
}

.item .likes {
    display: inline-block;
    margin-left: 5px;
}